@model IEnumerable<emreekiz.Models.TB_Araclar>

@{
    ViewBag.Title = "Araçlar";
    Layout = "~/Views/Shared/Personel_Layout.cshtml";
}

<h2>Araçlarımız</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KoltukID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlakaID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KoltukID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlakaID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.AracID }) |
            @Html.ActionLink("AracDetay", "Aracdetay", new { id = item.AracID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AracID })
        </td>
       

       

    </tr>
}

</table>
